# python ignores
*.pyc
*.npz

# vim ignores
*.swp
*.swo
*~

# folders to ignore
Data/
Results/
test/
othertest/

# my testing files
test.txt
junk.txt
test.py
junk.py
test.cfg
junk.cfg

#pipeline output files
clust_*.png
clust_*.txt

