# Data
*.fits
*.fil

# python ignores
*.pyc
*.npz

# vim ignores
*.swp
*.swo
*~

# folders to ignore
Data/
Results/
test/
othertest/
Data2/
RFI_Dir/
Mask_Dir/

# testing files
test.txt
junk.txt
test.py
junk.py
test.cfg
junk.cfg
waller_test_combined_0001_MF.sp

#pipeline output files
clust_*.png
clust_*.txt
superclust_*.txt
*.dat
*.inf
*.log

# other
*.DS_Store

# Docker
build_output.txt

# Terraform
*.tfstate*
.terraform
variables.tf
ssh_configfile.tmpl
