alembic
fitsio==0.9.11
requests_oauthlib
marshmallow
ephem
scikit-sparse
corner
numexpr 
astropy
runipy
matplotlib==1.5.3
scipy==0.19.1
menpo==0.9.0
acor 
line_profiler 
jplephem
numdifftools
numpy==1.16.4
pdat
emcee
